[submodule "hoverboard_ws/src/robaka-ros"]
	path = hoverboard_ws/src/robaka-ros
	url = https://github.com/alex-makarov/robaka-ros.git
[submodule "hoverboard_ws/src/hoverboard-driver"]
	path = hoverboard_ws/src/hoverboard-driver
	url = https://github.com/alex-makarov/hoverboard-driver.git
[submodule "hoverboard_ws/src/rosserial"]
	path = hoverboard_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "hoverboard_ws/src/ros_controllers"]
	path = hoverboard_ws/src/ros_controllers
	url = https://github.com/ros-controls/ros_controllers.git
	branch = melodic-devel
[submodule "hoverboard_ws/src/ros_control"]
	path = hoverboard_ws/src/ros_control
	url = https://github.com/ros-controls/ros_control.git
	branch = melodic-devel
[submodule "hoverboard_ws/src/realtime_tools"]
	path = hoverboard_ws/src/realtime_tools
	url = https://github.com/ros-controls/realtime_tools.git
	branch = melodic-devel
[submodule "firmware/hoverboard-firmware-hack"]
	path = firmware/hoverboard-firmware-hack
	url = https://github.com/cloidnerux/hoverboard-firmware-hack.git
[submodule "firmware/hoverboard-firmware-hack-FOC"]
	path = firmware/hoverboard-firmware-hack-FOC
	url = https://github.com/alex-makarov/hoverboard-firmware-hack-FOC.git
